

#but{
    background-color: blueviolet;
    border-radius: 30px;
    color:whitesmoke;
    margin-top:10px;
}

#b{
color: rgb(222, 117, 13);
}
body{
    border: 2px solid  rgb(19, 89, 159) ;
}
div{
    background-color: bisque;
    border:2px dotted black ;
    max-width:100px;max-height: 100px;
    margin: 10px;padding: 10px;
}